@use '../util/' as u;

:root{
    
    --side-bg:#F3E2EC;
    --side-blue:#0015D9;
    --pink:#D95887;
    --gray: rgb(134, 134, 134);
    --dark-blue:#2B3E7E;
    --light-blue:#489BD3;
    --light-gray:rgb(230, 230, 230);
    --dark-gray:rgb(34, 34, 34);
    --true-pink:#ec3477;
    --white:#fff;
    --dark-pink:rgb(211, 0, 35);
    --input-border:#ECECED;
    --input-bg:#FAFAFB;
    --hr:#E1E1E4;
}