@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400&display=swap');

$roboto: 'Roboto', sans-serif ;
$roboto_thin: 100;
$roboto_light: 300;
$roboto_regular: 400;
$roboto_bold: 700;
$roboto_black: 900;

$heebo: 'Heebo', sans-serif;
$heebo_regular: 400;
$heebo_light: 300;